APP_PORT=8080
POSTGRES_DB=backend_lab
POSTGRES_USER=backend_lab
POSTGRES_PASSWORD=backend_lab
JPA_DDL_AUTO=update
JWT_SECRET=change-this-secret-with-at-least-32-characters
JWT_EXPIRATION_SECONDS=3600

#cria usuários iniciais na primeira execução.
AUTH_SEED_ADMIN_NAME=teste
AUTH_SEED_ADMIN_EMAIL=teste@teste.com
AUTH_SEED_ADMIN_PASSWORD=teste
AUTH_SEED_TECHNICIAN_NAME=
AUTH_SEED_TECHNICIAN_EMAIL=
AUTH_SEED_TECHNICIAN_PASSWORD=
